/UnityProject/Library
/UnityProject/Logs
/UnityProject/Temp
/AddressableBuildReport/Assets/UIAssets
/AddressableBuildReport/Assets/Plugins/Demigiant
/AddressableBuildReport/Assets/Plugins/Demigiant.meta
/AddressableBuildReport/Library
/AddressableBuildReport/Logs
